:root {
  --white: hsl(0deg,0%,100%);
  --black: hsl(0, 0%, 9%);
  --grey: hsl(0, 0%, 60%);
  --grey-light: hsl(0, 0%, 97%);
  --blue: hsl(240deg,100%,50%);
  --blue-light: hsl(218deg,98%,51%);
  --blue-dark: hsl(240deg,100%,32%);
  --border-radius: 10px;
  --focus-outline: 2px solid var(--blue-light);
  --spacing: 5px;
  --spacing-x2: calc(var(--spacing) * 2);
  --spacing-x3: calc(var(--spacing) * 3);
  --spacing-x4: calc(var(--spacing) * 4);
  --spacing-x8: calc(var(--spacing) * 8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--black);
  background: var(--white);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.4;
  font-family: sans-serif;
}
